<div class="container-fluid p-0">
    <header class="d-flex flex-wrap justify-content-between align-items-center py-3  mb-5 border-bottom w-100" style="background-color: #001F3F;">
        
        <!-- Logo + Title -->
        <a href="{{ '/' | relative_url }}" class="d-flex align-items-center text-decoration-none ms-5">
            <img src="{{ '/assets/img/header-logo.png' | relative_url }}" alt="MARC Logo" width="60" class="me-3">
            <span class="fs-3 fw-bold" style="color: #fff; font-family: 'Roboto', sans-serif;">
                Multidisciplinary AI Research Center
            </span>
        </a>

        <!-- Navigation Links -->
        <ul class="nav nav-pills me-5">
            <!-- Home -->
            <li class="nav-item">
                <a href="{{ site.home }}" class="nav-link text-white">Home</a>
            </li>

            <!-- People -->
            <li class="nav-item">
                <a href="{{ '/' | relative_url }}" class="nav-link text-white">People</a>
            </li>

            <!-- Staff Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="staffDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Staff
                </a>
                 <ul class="dropdown-menu" aria-labelledby="staffDropdown">
                    <li><a class="dropdown-item" href="{{ '/staff/director/' | relative_url }}">Director</a></li>
                    <li><a class="dropdown-item" href="{{ '/staff/deputy-directors/' | relative_url }}">Deputy Directors</a></li>
                    <li><a class="dropdown-item" href="{{ '/staff/temporary-academic-staff/' | relative_url }}">Members</a></li>
                    <li><a class="dropdown-item" href="{{ '/staff/non-academic-staff/' | relative_url }}">Research Assistants</a></li>
                    <li><a class="dropdown-item" href="{{ '/staff/visiting-research-fellows/' | relative_url }}">Engineers</a></li>
                    <li><a class="dropdown-item" href="{{ '/staff/non-academic-staff/' | relative_url }}">Interns | Volunteers</a></li>
                </ul>
            </li>

            <!-- Students Dropdown -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" id="studentsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Students
                </a>
                <ul class="dropdown-menu" aria-labelledby="studentsDropdown">
                    {%- for batch in site.data.students -%}
                    <li><a class="dropdown-item" href="{{ batch.url | relative_url }}">{{ batch.title }}</a></li>
                    {%- endfor -%}
                    <li><a class="dropdown-item" href="{{ '/students/postgraduate/' | relative_url }}">Postgraduate</a></li>
                </ul>
            </li>

            <!-- Alumni -->
            <li class="nav-item">
                <a href="{{ '/alumni/' | relative_url }}" class="nav-link text-white">Alumni</a>
            </li>
        </ul>
    </header>
</div>
